h1 {
    text-align:center;
    font-size:50px;
    font-weight:bold;
    text-transform:capitalize;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}
button {
    display:block;
    margin:auto;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-color: blue;
    border-color: blue;
}
body {
    background-color: black;
}
